@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-title: rgba(0, 0, 0, 0.8);
  --header: rgb(255 255 255 / 18%);
  --card: rgba(255, 255, 255, 0.3);
}

.Header {
  background: var(--header);
}

.Card {
  background: var(--card);
}

html,
* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
    
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}